config-dir=/etc/powerdns
hint-file=/etc/powerdns/root.hints
#include-dir=/etc/powerdns/recursor.d
local-address=127.0.0.1
local-port=5454
query-local-address={{ STATIC }}
edns-padding-from=127.0.0.1
dnssec=process-no-validate
#lua-config-file=/etc/powerdns/recursor.lua
lua-dns-script=/etc/powerdns/pdns.lua
quiet=yes
setgid=pdns
setuid=pdns
etc-hosts-file=/etc/powerdns/hosts.txt
export-etc-hosts=on
